/*=========== TABLE OF CONTENTS ===========
1. Button CSS
2. Input CSS
3. Checkbox CSS
4. Text CSS
5. Heading CSS
6. Container CSS
==========================================*/

/*-------------------------------------
  1. Button CSS
--------------------------------------*/
.ui.button.round {
  border-radius: 3px;
}

.ui.button.circle {
  border-radius: 50%;
}

.ui.button.size-4xl {
  height: 64px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 28px;
}

.ui.button.size-3xl {
  height: 54px;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 21px;
}

.ui.button.size-2xl {
  height: 52px;
  padding-left: var(--space-2xl);
  padding-right: var(--space-2xl);
  font-size: 18px;
}

.ui.button.size-xl {
  height: 44px;
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
  font-size: 18px;
}

.ui.button.outline.green_400 {
  color: var(--green_400);
  border: 2px solid var(--green_400);
}

.ui.button.fill.white_a700 {
  background-color: var(--white_a700);
  color: var(--gray_700);
}

.ui.button.fill.gray_100_02 {
  background-color: var(--gray_100_02);
}

.ui.button.fill.green_400 {
  background-color: var(--green_400);
  color: var(--white_a700);
}

.ui.button.fill.gray_100_66 {
  background-color: var(--gray_100_66);
}

.ui.button {
  text-align: center;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/*-------------------------------------
  2. Input CSS
--------------------------------------*/
.ui.input.round {
  border-radius: 3px;
}

.ui.input.size-4xl {
  height: 64px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

.ui.input.size-2xl {
  height: 50px;
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
  font-size: 12px;
}

.ui.input.fill.white_a700 {
  background-color: var(--white_a700);
  color: var(--gray_500_01);
}

.ui.input.fill.white_a700_42 {
  background-color: var(--white_a700_42);
  color: var(--white_a700);
}

.ui.input {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
}

/*-------------------------------------
  3. Checkbox CSS
--------------------------------------*/
.ui.checkbox.size-xs {
  height: 18px;
  width: 18px;
  border-radius: var(--radius-xs);
}

.ui.checkbox.primary {
  accent-color: #929292;
  border: 1px solid var(--gray_500);
}

.ui.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/*-------------------------------------
  4. Text CSS
--------------------------------------*/
.ui.text.size-textlg {
  font-size: 12px;
  font-weight: 400;
}

.ui.text.size-textxl {
  font-size: 14px;
  font-weight: 400;
}

.ui.text.size-text3xl {
  font-size: 18px;
  font-weight: 400;
}

.ui.text.size-text4xl {
  font-size: 20px;
  font-weight: 400;
}

.ui.text.size-text5xl {
  font-size: 24px;
  font-weight: 400;
  @media only screen and (max-width: 1050px) {
    font-size: 22px;
  }
}

.ui.text {
  color: var(--white_a700);
  font-family: Montserrat;
}

/*-------------------------------------
  5. Heading CSS
--------------------------------------*/
.ui.heading.size-headingxl {
  font-size: 14px;
  font-weight: 600;
}

.ui.heading.size-heading2xl {
  font-size: 16px;
  font-weight: 600;
}

.ui.heading.size-heading3xl {
  font-size: 18px;
  font-weight: 600;
}

.ui.heading.size-heading5xl {
  font-size: 24px;
  font-weight: 700;
  @media only screen and (max-width: 1050px) {
    font-size: 22px;
  }
}

.ui.heading.size-heading6xl {
  font-size: 30px;
  font-weight: 600;
  @media only screen and (max-width: 1050px) {
    font-size: 28px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.ui.heading.size-heading7xl {
  font-size: 36px;
  font-weight: 700;
  @media only screen and (max-width: 1050px) {
    font-size: 34px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 32px;
  }
}

.ui.heading {
  color: var(--white_a700);
  font-family: Montserrat;
}

/*-------------------------------------
  6. Container CSS
--------------------------------------*/
.container-xs {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  max-width: 1142px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
