@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/MontserratSemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/MontserratBold.ttf");
  font-family: "Montserrat";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/MontserratRegular.ttf");
  font-family: "Montserrat";
  font-weight: 400;
}
